{{ $data := .Site.Data.global }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{/*  // Meta information  */}}
        <title>{{ .Title }}{{ if not .IsHome}} | {{ .Site.Title }}{{end}}</title>
        <meta name="description" content="{{ .Params.meta_description }}">
        <link rel="canonical" href="{{ .Permalink }}" />
        <meta property="og:site_name" content="{{ .Site.Title }}">
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:description" content="{{ .Params.meta_description }}">
        <meta property="og:image" content="{{ .Params.featured_image }}">
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ .Params.meta_description }}" />
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:site" content="@{{ $data.social.twitter }}" />
        <meta name="twitter:image" content="{{ .Params.featured_image }}" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        {{/*  // Assets information  */}}
        {{ block "extra_css" . }}{{ end }}
        {{- $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) -}}
        {{- $postcssOpts := (dict "config" "assets/config/postcss.config.js" ) -}}
        {{ $glide := resources.Get "styles/glide.css" }}
        {{ $glideTheme := resources.Get "styles/glide-theme.css" }}
        {{- $styles := resources.Get "styles/main.scss" | toCSS $cssOpts | postCSS $postcssOpts }}
        {{ $stylesAll := slice $glide $glideTheme $styles | resources.Concat "styles/main.css" | minify }}
        <link rel="stylesheet" href="{{ $stylesAll.Permalink }}" media="screen" crossorigin="anonymous">
    </head>
    <body>
        <div id="main">
            {{ block "header" . }}
            {{ partial "header" . }}
            {{ end -}}

            {{ block "main" . }}
            {{ end -}}

            {{ block "footer" . }}
            {{ partial "footer" . }}
            {{ end -}}
        </div>

        {{ block "extra_js" . }}
        {{ end }}

        {{/*  Js information */}}
        {{- $vueDev := resources.Get "js/vue-dev.js" }}
        {{- $vueProd := resources.Get "js/vue.js" }}
        {{ $icons := resources.Get "js/boxicons.js" }}
        {{- $glide := resources.Get "js/glide.js" }}
        {{- $js := resources.Get "js/main.js" }}
        {{ $jsDevAll := slice $icons $glide $vueDev $js | resources.Concat "js/main-dev.js" | minify }}
        {{ $jsProdAll := slice $icons $glide $vueProd $js | resources.Concat "js/main.js" | minify }}
        {{ if .Site.IsServer }}
        <script src="{{ $jsDevAll.Permalink }}"></script>
        {{ else }}
        <script src="{{ $jsProdAll.Permalink }}"></script>
        {{ end }}
    </body>
</html>
